__pycache__/
*.pyc
*.egg-info/
.venv/
venv/
.env
*.DS_Store
*.mp4
/data
*.log
MUJOCO_LOG.TXT
/LIBERO/
/SimVLA/
/panda
/lerobot-nexarm
/outputs
assets/hope-dataset
*/docs
*/third_party
OATFlow/datasets/
OATFlow/checkpoints/
OATFlow/experiments/*/results/
OATFlow_tcow_25hz_240x320_v1