__pycache__/
*.pyc
*.egg-info/
.venv/
venv/
.env
*.DS_Store
*.mp4
/data
*.log
MUJOCO_LOG.TXT
/LIBERO/
/SimVLA/
/panda
/lerobot-nexarm
/outputs
assets/hope-dataset
*/docs
*/third_party
memory_occlusion/datasets/
memory_occlusion/checkpoints/
memory_occlusion/experiments/*/results/
